    <nav class="nav">
        <a class="nav__link" href="#"><%= sort_1 %></a>
        <a class="nav__link" href="#"><%= sort_2 %></a>
        <a class="nav__link" href="#"><%= sort_3 %></a>
        <a class="nav__link" href="#"><%= sort_4 %></a>
        <a class="nav__link" href="#"><%= sort_5 %></a>
    </nav>