<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

    <nav class="nav">
        <a class="nav__link" href="#"><%= sort_1 %></a>
        <a class="nav__link" href="#"><%= sort_2 %></a>
        <a class="nav__link" href="#"><%= sort_3 %></a>
        <a class="nav__link" href="#"><%= sort_4 %></a>
        <a class="nav__link" href="#"><%= sort_5 %></a>
    </nav>

</body>
</html>